[submodule "frontend/components"]
	path = frontend/components
	url = https://github.com/msgmate-io/open-chat-ui
[submodule "hal/msgmate"]
	path = hal/msgmate
	url = https://github.com/msgmate-io/django-msgmate-core.git
[submodule "frontend/electron"]
	path = frontend/electron
	url = https://github.com/msgmate-io/open-chat-electron
