[submodule "frontend/components"]
	path = frontend/components
	url = https://github.com/msgmate-io/open-chat-ui
[submodule "frontend/pages"]
	path = frontend/pages
	url = https://github.com/msgmate-io/msgmate-io-frontend-pages
