---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend
  namespace: {{ .Values.namespace }}
  labels:
    app: backend
spec:
  replicas: {{ .Values.backend.replicas }}
  selector:
    matchLabels:
      app: backend
  template:
    metadata:
      labels:
        app: backend
    spec:
      containers:
        - name: backend
          image: {{ .Values.backend.imageURL }}
          imagePullPolicy: Always
          ports:
            - containerPort: 8000
          envFrom:
            - secretRef:
                name: backend-secret
      {{- if .Values.backend.registry.authRequired }}
      imagePullSecrets:
        - name: {{ .Values.backend.registry.secretName }}
      {{- end }}
---
apiVersion: v1
kind: Secret
metadata:
  name: backend-secret
  namespace: {{ .Values.namespace }}
type: Opaque
data:
{{- range $key, $value := .Values.backend.env }}
  {{ $key }}: {{ $value | b64enc }}
{{- end }}
---
{{- if .Values.backend.useFlower }}
apiVersion: v1
kind: Service
metadata:
  name: flower-service
  namespace: {{ .Values.namespace }}
  labels:
    app: backend
spec:
  type: ClusterIP
  ports:
    - port: 5555
      targetPort: 5555
  selector:
    app: backend
{{- end }}
---
apiVersion: v1
kind: Service
metadata:
  name: backend-service
  namespace: {{ .Values.namespace }}
  labels:
    app: backend
spec:
  type: ClusterIP
  ports:
    - port: 8000
      targetPort: 8000
  selector:
    app: backend